.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix

.pre-commit-config.yaml
CHANGELOG.md
other/
demo/
.nyc_output/
coverage/
todo.md
.deepsource.toml
.tests/
